@import url('foghorn.css');

html, body {
	font-size: 1.1em;
	line-height: 1.2;
	text-align: left;
	max-width: 50em;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

ul { margin-top: 0.5em; }
p { margin-bottom: 0.5em; }

div#header {
	padding: 0.5em;
	border: 2px solid black;
	margin-bottom: 1em;
}

#resume-button { display: none; }

code {
	color: rgb(196, 255, 132);
	background-color: #3C3C3C;
}
pre {
	background-color: #3C3C3C;
	overflow: auto;
}
